# Dependencies
node_modules/

# Next.js
.next/
out/

# Flutter build
mobile/.dart_tool/
mobile/build/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
*.log