# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://kevdbsyiqelksxvmuped.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtldmRic3lpcWVsa3N4dm11cGVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3MzUyMjIsImV4cCI6MjA5OTMxMTIyMn0.pNmc5HGE9huxmh4-eqveLETkxnxJ_j5rigeS8t35o2A
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtldmRic3lpcWVsa3N4dm11cGVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzczNTIyMiwiZXhwIjoyMDk5MzExMjIyfQ.bSdyODBofdcoJ3vRtF7kODMCL1fY6Tx-cj5tITYzeDI